<!-- loading baisc html body -->
{% extends "home/basic.html" %} {% load static%}
<!-- setting page title -->
{% block title %} Facebook Promotion {% endblock title %}

<!-- for links -->
{% block links %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet"> {% endblock links%}

<!-- creating perticulaR PAGE BODY -->
{% block body %}
<div class="SEO_pannel">

    <h1>Facebook Promotion</h1>
</div>
<div class="market-p1 container">
    <div class="p1_1facebook">

    </div>
    <div class="p1_2">
        <h3>Abhi Traders</h3>
        <h5>------- Services ---------</h5>
        <ul>
            <a href="#">Digital Marketing</a> <br>
            <a href="{% url 'SEO'%}">SEO</a> <br>
            <a href="{% url 'devlopment'%}">Web Devlopment</a> <br>
            <a href="{% url 'facebook'%}">Facebook Promotion</a> <br>
            <a href="{% url 'insta'%}">Instagram Promotion</a> <br>
            <a href="{% url 'youtube'%}">YouTube Promotion</a> <br>
            <a href="#">Digital Logo</a> <br>
        </ul>
    </div>
</div>
<div class="market_content container">
    <h2>FACEBOOK PROMOTIONS</h2>

    <h3>Increase Awareness. Drive Sales. Improve Web Traffic.</h3>

    <p>For over 8 years, hundreds of businesses across the nation have selected us as their go-to Facebook Marketing Company. Our Facebook marketing services help businesses like yours increase awareness, get more customers and build a brand consumers love.
        Our approach is unique and tailored for your business and your success.
    </p>

    <br>
    <h2>Everything You Need To Be Successful, Nothing Less</h2>
    <h3>1. Daily Management Of Your Page</h3>
    <br>
    <p>It is super easy to get started with our white label program. Once we know who the client is and their pain points, our team goes directly to developing a strategy and plan to reach the goals and success indicators of your client. Need a proposal
        by tomorrow? No problem, our in-house team is agile enough to move mountains for you and your client today.</p>
    <br>
    <h2>2. Increased Awareness and Sales</h2>
    <br>
    <p>Most businesses come to us and say, “I need more people to see my brand.” No problem! We use a number of different Facebook strategies to make sure the masses know about your company and you stay top of mind. First, we create appealing content that
        is captivating enough to catch the attention of your target audience and clear enough to be understood and acted upon. Secondly, we use targeted ads, offers and boosts posts to reach thousands of the right people at the right time based upon age,
        interests, location and more.</p>
    <br>
    <br>
    <h2>What To Expect From Your Facebook Marketing Company</h2>
    <br>
    <h3>√ Optimized Page</h3>
    <br>
    <p>Our in-house graphic designers make sure your pages look appealing and professional. Before we begin posting, we overhaul your page for better conversions and a fresh look.</p>
    <br>
    <h3>√ Posts Everyday</h3>
    <br>
    <p>You don’t have to worry if your pages are remaining active. We posts 1-2 times a day to keep your audience engaged and interested in your products or service.</p>
    <br>
    <h3>√ Interactive Engagement</h3>
    <br>
    <p>As your page grows, current and potential customers will be inspired to comment on your page. We use this as an opportunity to build relationships with your audience.</p>
    <br>
    <h3>√ Increased Followers</h3>
    <br>
    <br>
    <p>We are a Facebook marketing company that uses advanced techniques to dramatically grow your Facebook page at costs as low as .05 cent a follower on a continuous basis.
        <br>
        <h3>√ More Customers</h3>
        <br>
        <p>Whoever your potential customer is, we increase your customer base and drive your sales with low-cost targeted advertisings that pushes consumers to your website and/or into your store.</p>
        <br>
        <h3>√ Re-targeted Website Visitors</h3>
        <br>
        <p>We use re-target advertising to re-engage your website visitors with a strategic ad every time they login to Facebook. This allows your brand to remain top of mind.</p>
    </p>
</div>
{% endblock body %}