<!-- loading baisc html body -->
{% extends "home/basic.html" %} {% load static%}
<!-- setting page title -->
{% block title %} Abhi Traders {% endblock title %}

<!-- for links -->
{% block links %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet"> {% endblock links%}

<!-- creating perticulaR PAGE BODY -->
{% block body %}
<div class="social_pannel">

    <h1>SOCIAL MEDIA PROMOTION</h1>
</div>
<div class="social-p1">
    <div class="p1_1">

    </div>
    <div class="p1_2">

    </div>
</div>
{% endblock body %}