<!-- loading baisc html body -->
{% extends "home/basic.html" %} {% load static%}
<!-- setting page title -->
{% block title %} About Us {% endblock title %}

<!-- for links -->
{% block links %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet"> {% endblock links%}

<!-- creating perticulaR PAGE BODY -->
{% block body %}
<div class="market_pannel">

    <h1>About Us</h1>
</div>
<div class="about_pannel container">
    <div class="about_p1">
        <h2>ABOUT US</h2>
        <br>
        <p>ABHI TRADERS is a Professional Website Design Company in Ferozepur . We offer a complete range of Website Design and Development, includes Corporate Web Site ,Digital Marketing, SEO, Banners Designing and Search Engine Optimization. We have extended
            our hands across the globe in providing the World Class solutions to the clients in Web Designing and Development.
            <br><br> Amongest many competitors in the field of Web Designing and Development ABHI TRADERS strives hard to excel well in its project. Most of our clients have been with us for years and keep coming back for more. We are very proud of being
            a customer's-oriented design company, and we nurture all our business relationships with great care and love.
            <br><br> ABHI TRADERS designs the web sites in such a way that it will visually communicate your company's image to exchange your professional objective to your customers and viewers and promote your business. The professional web site that
            we create attracts more customers to your web site thereby enhancing your company's profit. We provide a personal service in establishing the best web site design and business development through SEO.
            <br><br> ABHI TRADERS is a unique block made of corporate values, enthusiastic, skilled and experienced staff, in providing best of breed solutions, services and products to customers across the globe round the clock. ABHI TRADERS has Technology
            and Teamwork as a strong foundation and built in strong bond called Trust.

        </p>
    </div>
    <div class="about_p2">

    </div>
</div>
{% endblock body %}